li{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.qutular{
    width: 1100px;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
img{
    width: 100%;
}
.qutu{
    margin-top: 40px;
    margin-right: 10px;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0.50)
}
.qutu h1{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}
.detail{
    padding: 15px;
}
.detail h1{
    color: #ff214f;
}
.detail h1: :hover{
   
}
